.idea

.DS_Store
*.log

dist
build
coverage
node_modules
gpg_keys
tsconfig.tsbuildinfo
.eslintcache

# -----------------------------> VSCode <--------------------------------
# Reference: https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

